body {
    background-color: #010101;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    font-size: 3rem;
    color: white;
    position: relative;
}

.letter {
    opacity: 0;
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
    position: absolute;
}

.i {
    left: -150px;
    transform: translateX(50px);
}

.you {
    right: -200px;
    transform: translateX(-50px);
}

.heart {
    width: 150px;
    height: 150px;
    background-color: red;
    position: relative;
    transform: rotate(-45deg);
    animation: heartbeat 1s infinite;
}

.heart::before,
.heart::after {
    content: '';
    width: 150px;
    height: 150px;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    position: absolute;
}

.heart::before {
    top: -75px;
    left: 0;
}

.heart::after {
    left: 75px;
    top: 0;
}

@keyframes heartbeat {
    0%, 100% {
        transform: scale(1) rotate(-45deg);
    }
    50% {
        transform: scale(1.2) rotate(-45deg);
    }
}

.container:hover .letter {
    opacity: 1;
    transform: translateX(0);
}
